<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% container.forEach(function (quiz) {%>
        <p>Pregunta Número <%=quiz.id%> - <%= quiz.question %> : <%= quiz.answer%></p>
    <%});%>
  </body>
</html>
